
{% extends "layout.html" %} 
{% block content %} 
<div class="col-md-12">
        <div class="about-content-section">
          <h>Why i Created this blog?</h>
         <br><br>
          <p>Well we all know the importance of social-media in today's day and age.
                Era of Tv,hardcopy newspaper is over.Almost the entire audience is shifting towards this digital form mass-communication.It is estimated that by 2030 over 4 billion of world population will migrate over internet</p>
                <p>In such a scenario,roles of Fb,twitter and all such social sites will become very crucial because they will possess power of unimaginable proportion.</p>
                 <p>But unfortunately,we have witnessed both Fb and twitter of abusing their powers by terminating the account of Donald Trump,the former President of US and also blocking the account of Chinese embassy in US</p>
     
                 <p>well we are not arguing whether they had said right or wrong, we are not trying to justify them but in a democracy everybody has a freedom of speech and who else it is the President!!!,the supremo of the state.You are terminating his account and also the foreign embassy of another sovereign country</p>
                <p>and this deed of FB ,twitter and instagram has caused serious backlash from both left,right wingers</p>
                 <p></p>
        </div>
   </div>
{% endblock content%}
