
{% extends "layout.html" %} 
{% block content %} 
<div class="col-md-12">
        <div class="about-content-section">
          <h>Why i Created this blogsite?</h>
         <br><br>
          <p>Well we all know the importance of social-media in today's day and age.
                Era of Tv,hardcopy newspaper is over.Almost the entire audience is shifting towards this digital form mass-communication.It is estimated that by 2030 over 4 billion of world population will migrate over internet</p>
                <p>In such a scenario,roles of Fb,twitter and all such social sites will become very crucial because they will possess power of unimaginable proportion.</p>
                 <p>But unfortunately,we have witnessed both Fb and twitter of abusing their powers by terminating the account of Donald Trump,the former President of US and also blocking the account of Chinese embassy in US</p>
     
                 <p>well we are not arguing whether they were right or wrong, we are not trying to justify them but in a democracy everybody has a freedom of speech and who else,it is the President!!!,the supremo of the state.You are terminating his account and also the foreign embassy of another sovereign country</p>
                <p>and this deed of FB ,twitter and instagram has caused serious backlash from both left,right wingers</p>
                 <p>so it is high time to be independant of these platforms and being a software developer myself i'thought why not trying to create our own blogsite where we can post our own contents related to techs without fearing any censorship from the above mentioned brands</p>
                 <h5>Tada!!! and here we are</h5>
                 <P>but be careful of not putting up anything other than tech or science related else it will hamper the sanctity of our site....</P>
                 <h4>Cheers!! and Happy Blogging</h4>
        </div>
   </div>
{% endblock content%}
